<nav class="row-fluid nav-single">
  <div class="span6 nav-previous">
    <h4>PREVIOUS POST</h4>
    <a href="#" rel="prev">
      <span class="meta-nav">←</span>
      Multiple models in a single form
    </a>
  </div>

  <div class="span6 nav-next">
    <h4>NEXT POST</h4>
    <a href="#" rel="next">
      How do I reference a font or an image from my CSS files?
      <span class="meta-nav">→</span>
    </a>
  </div>
</nav>
